@model MvcRQ.Areas.UserSettings.Models.QueryOptions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>QueryOptions</legend>

    <div class="display-label">UserId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">SortOption</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortOption.Name)
    </div>

    <div class="display-label">IncludeExternal</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IncludeExternal)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.QueryOptionsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
