@model System.String
@if (ViewData["label"] != null)
{
    @*@Html.LabelFor(model => model, ViewData["label"].ToString())*@
    <label for="@ViewData["labelfor"].ToString()" class="editor-label">@ViewData["label"].ToString()</label>
}
else
{ 
    @Html.LabelFor(model => model)
}
@Html.TextBoxFor(model => model, new { @class = ViewData["classname"] })
@Html.ValidationMessageFor(model => model)