<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/bootstrap")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-8410181-2', 'strands.de');
        ga('send', 'pageview');

        var config = { contextPath: '@Url.Content("~")' };

        function HostAdress() {
            return ((config.contextPath.length > 0) && (config.contextPath.charAt(config.contextPath.length - 1)) == "/") ? config.contextPath.substring(0, config.contextPath.length - 1) : config.contextPath;
        }
    </script>
</head>
<body>
    <div id="content" class="pure-g-r">
        <div class="pure-u-1">
            <div id="nav" class="pure-g-r">
                <div class=" pure-u-1-2 rq-logo">
                    <h1>@RQResources.Views.Shared.SharedStrings.title</h1><span><img src="@Href("~/images/bluepixel.gif")" alt="" border="0" width="15" height="15"/></span><h2>@RQResources.Views.Shared.SharedStrings.subtitle</h2>
                </div>
                <div class="pure-u-1-2 rq-menu">
                    <ul class="pure-menu-horizontal">
                        <li>@Html.ActionLink(RQResources.Views.Shared.SharedStrings.menu1, "Index", "Home", new { area = "" }, null)</li>
                        <li><img src="@Href("~/images/clearpixel.gif")" alt="" /></li>
                        <li>@Html.ActionLink(RQResources.Views.Shared.SharedStrings.menu3, "Index", "RQKos", new { area = "" }, null)</li>
                        <li><img src="@Href("~/images/clearpixel.gif")" alt="" /></li>
                        <li>@Html.ActionLink(RQResources.Views.Shared.SharedStrings.menu4, "Work", "Home", new { area = "" }, null)</li>
                        <li><img src="@Href("~/images/clearpixel.gif")" alt="" /></li>
                        <li>@Html.ActionLink(RQResources.Views.Shared.SharedStrings.menu5, "News", "Home", new { area = "" }, null)</li>
                        @if (Request.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <li><img src="@Href("~/images/clearpixel.gif")" alt="" /></li>
                            <li>@Html.ActionLink(RQResources.Views.Shared.SharedStrings.menu6, "Index", "UserManagement", new { area = "UserManagement" }, null)</li>
                            <li><img src="@Href("~/images/clearpixel.gif")" alt="" /></li>
                            <li>@Html.ActionLink(RQResources.Views.Shared.SharedStrings.menu7, "Index", "UsersAdmin")</li>
                        }
                        <li><img src="@Href("~/images/clearpixel.gif")" alt="" /></li>
                        <li>@Html.ActionLink(RQResources.Views.Shared.SharedStrings.menu2, "About", "Home", new { area = "" }, null)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="main" class="pure-u-1">
            @RenderBody()
        </div>
    </div>
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
