@model MvcRQ.Areas.ItemViewer.Models.VideoModel
@*css*@
@MvcRQ.Areas.ItemViewer.ItemViewerHtml.StyleCss()
<link href="@Url.Content("~/areas/itemviewer/skins/pink.flag/jplayer.pink.flag.css")" rel="stylesheet" type="text/css" />  
@*javascript*@
<script src="@Url.Content("~/scripts/htmlFactoryScripts/rqui-helpers.js")" type="text/javascript"></script>
<script src="@Url.Content("~/areas/itemviewer/Scripts/jquery.jplayer.min.js")" type="text/javascript"></script>
@MvcRQ.Areas.ItemViewer.ItemViewerHtml.VideoPlayerJavascript()
@{
    ViewBag.Title = "Video Player";
}
<h2>Video PLayer</h2>
<script type="text/javascript">
    var docNo = @Html.Raw(Json.Encode(@ViewBag.DocNo));
    var docAdr = @Html.Raw(Json.Encode(@ViewBag.DocAdr));
</script>
<div id="bib_info_area">
    @(new HtmlString(Model.BibInfo()))    
</div>
@*html markup*@
@MvcRQ.Areas.ItemViewer.ItemViewerHtml.VideoPlayerHtml()


