@model MvcRQ.Models.RQItem
<small>@Html.ActionLink("<< RQItems", "Index", "RQItems")</small>

<h2>NewRQItem</h2>
@Html.ValidationSummary()
<pre>
@using (Html.BeginForm())
{
<span>@Html.LabelFor(rqitem => rqitem.Title)    : @Html.TextBoxFor(rqitem => rqitem.Title) @Html.ValidationMessageFor(rqitem => rqitem.Title)</span><br />
<span>@Html.LabelFor(rqitem => rqitem.Location) : @Html.TextBoxFor(rqitem => rqitem.Location) @Html.ValidationMessageFor(rqitem => rqitem.Location)</span>

<input type="submit" name="verb" value="Add" /> 
}

</pre>
@(ViewData["Message"] ?? "") 

<!--
@Html.Partial("Shared/XmlViewer");
@Html.Partial("Shared/JsonViewer");
-->
<script type="text/javascript">
    $(document).ready(function () {
        $("#jsonAdditionalQueryString").val("");
        $("#xmlAdditionalQueryString").val("");
    });
</script>

