@{
    ViewBag.Title = "RiQuest Data Service";
}
<h2>@ViewBag.Message</h2>
<p>
    You have invoked the data service of the RiQuest Personal Digital Library to return a list of RQItems in the @ViewBag.ServiceType format.
</p>
<h3>Service Description</h3>
<p>
    The RiQuest Data Service is an application programming interface (API). It allows remote web applications to retrieve data from the RiQuest Personal Digital Library. 
</p>
<p>
    It is intended to be invoked by HttpRequest with accepted mime-types:
</p>
<il>
    <li>text/xml</li>
    <li>application/xml</li>
    <li>text/json</li>
    <li>application/json</li>
</il>
<p>
    RQItems are descriptions (metadata) of items stored in the RiQuest Personal Digital Library.
</p>
<p>     
    The RiQuest Data service supports the following data formats for RQItems: 
</p>
<il>
    <li>oai_dc</li>
    <li>srw_dc (not yet implemented)</li>
    <li>info_ofi (not yet implemented)</li>
    <li>mods (not yet implemented)</li>
    <li>rq</li>
</il>
<h3>Response Content</h3>
<h4>XML</h4>
<p> If the RiQuest Data Service had been invoked with accepted mime-types "text/xml" or "application/xml" the following response would have been returned:</p>
@Html.Partial("Shared/XmlViewer")
<h4>JSON</h4>
<p> If the RiQuest Data Service had been invoked with accepted mime-types "text/json" or "application/json" the following response would have been returned:</p>
@Html.Partial("Shared/JsonViewer")
<h4>HTML</h4>
<p> As You have invoked the RiQuest Data Service with accepted mime-types "-/html" the content is also presented here as HTML for Your convenience .</p>
@Html.Partial("Shared/ResultViewer")