@model MvcRQ.Models.RQItem

@{
    ViewBag.Title = "RQItem";
}

<small>@Html.ActionLink("<< RQItems", "Index", "RQItems")</small>

<h2>@ViewBag.Message</h2>
<h3>RQItem Description</h3>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <fieldset title="RQItem Details">
        <p>@Html.LabelFor(rqitem => rqitem.ID): @Html.DisplayFor(rqitem => rqitem.ID)@Html.HiddenFor(rqitem => rqitem.ID)</p>
        <p>@Html.LabelFor(rqitem => rqitem.Title): @Html.TextBoxFor(rqitem => rqitem.Title)
            @Html.ValidationMessageFor(rqitem => rqitem.Title)</p>
        <p>@Html.LabelFor(rqitem => rqitem.Locality): @Html.TextBoxFor(rqitem => rqitem.Locality)
            @Html.ValidationMessageFor(rqitem => rqitem.Locality)</p>
    </fieldset>
    <input type="submit" name="verb" value="Save" /> <input type="submit" name="verb"
        value="Delete" />
}

@(ViewData["Message"] ?? "")

@Html.Partial("Shared/XmlViewer")
@Html.Partial("Shared/JsonViewer") 
