<link href="@Url.Content("~/Scripts/HtmlFactoryScripts/paging-style.css")" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/HtmlFactoryScripts/result-viewer.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/HtmlFactoryScripts/rqui-helpers.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.pajinate.js")" type="text/javascript"></script>
<script type="text/javascript">
    var docNo = @Html.Raw(Json.Encode(@ViewBag.docNo));
    var getrqitemverb = @Html.Raw(Json.Encode(@ViewBag.GetRQItemVerb));
</script>
<div id="htmlList" class="rq-result-box"></div>
