<script src="@Url.Content("~/Scripts/HtmlFactoryScripts/standard-searches.js")" type="text/javascript"></script>
<ul class="standard-searches">
    <li>@Html.ActionLink(RQResources.Views.Shared.SharedStrings.sq_recent_additions, "Index", "RQItems", new { queryString = "$recent$" + RQResources.Views.Shared.SharedStrings.sq_recent_additions }, null)</li>
    <li>@Html.ActionLink(RQResources.Views.Shared.SharedStrings.sq_digital_documents, "Index", "RQItems", new { queryString = "$digital$" + RQResources.Views.Shared.SharedStrings.sq_digital_documents }, null)</li>
    <li>@Html.ActionLink(RQResources.Views.Shared.SharedStrings.sq_video_documents, "Index", "RQItems", new { queryString = "$film$" + RQResources.Views.Shared.SharedStrings.sq_video_documents }, null)</li>
    <li>@Html.ActionLink(RQResources.Views.Shared.SharedStrings.sq_digital_video, "Index", "RQItems", new { queryString = "$digitalfilm$" + RQResources.Views.Shared.SharedStrings.sq_digital_video }, null)</li>
    <li>@Html.ActionLink(RQResources.Views.Shared.SharedStrings.sq_audio_documents, "Index", "RQItems", new { queryString = "$music$" + RQResources.Views.Shared.SharedStrings.sq_audio_documents }, null)</li>
    <li>@Html.ActionLink(RQResources.Views.Shared.SharedStrings.sq_digital_audio, "Index", "RQItems", new { queryString = "$digitalmusic$" + RQResources.Views.Shared.SharedStrings.sq_digital_audio }, null)</li>
    <li>@Html.ActionLink(RQResources.Views.Shared.SharedStrings.sq_bookmarks, "Index", "RQItems", new { queryString = "$bookmarks$" + RQResources.Views.Shared.SharedStrings.sq_bookmarks }, null)</li>
    <li>@Html.ActionLink("View shelves order", "Index", "RQItems", new { queryString = "Signature: R*" }, null)</li>
</ul>
<ul>
    @if (@ViewBag.HasAddPermit)
    {   
        <li>@Html.ActionLink("Add new RQItem", "Index", "RQItems", new { verb = "New" }, null);</li>
    }
</ul>