<ul class="standard-searches">
    <li><a href="#" onclick="getQueryResultList('$recent$@RQResources.Views.Shared.SharedStrings.sq_recent_additions');">@RQResources.Views.Shared.SharedStrings.sq_recent_additions</a></li>
    <li><a href="#" onclick="getQueryResultList('$digital$@RQResources.Views.Shared.SharedStrings.sq_digital_documents');">@RQResources.Views.Shared.SharedStrings.sq_digital_documents</a></li>
    <li><a href="#" onclick="getQueryResultList('$film$@RQResources.Views.Shared.SharedStrings.sq_video_documents');">@RQResources.Views.Shared.SharedStrings.sq_video_documents</a></li>
    <li><a href="#" onclick="getQueryResultList('$digitalfilm$@RQResources.Views.Shared.SharedStrings.sq_digital_video');">@RQResources.Views.Shared.SharedStrings.sq_digital_video</a></li>
    <li><a href="#" onclick="getQueryResultList('$music$@RQResources.Views.Shared.SharedStrings.sq_audio_documents');">@RQResources.Views.Shared.SharedStrings.sq_audio_documents</a></li>
    <li><a href="#" onclick="getQueryResultList('$digitalmusic$@RQResources.Views.Shared.SharedStrings.sq_digital_audio');">@RQResources.Views.Shared.SharedStrings.sq_digital_audio</a></li>
    <li><a href="#" onclick="getQueryResultList('$bookmarks$@RQResources.Views.Shared.SharedStrings.sq_bookmarks');">@RQResources.Views.Shared.SharedStrings.sq_bookmarks</a></li>
    <li><a href="#" onclick="getQueryResultList('Signature: R01');">View shelves order</a></li>
</ul>