@{
    ViewBag.Title = "UserManagement";
}

<h2>UserManagement</h2>
@*html markup*@
@MvcRQ.Areas.MyHtml.UserTableArea() @*html code for the user table*@
@MvcRQ.Areas.MyHtml.AddUserForm() @*html code for creating a new user account*@
@MvcRQ.Areas.MyHtml.ManageRolesForm() @*html code for managing roles*@

@*css*@
@MvcRQ.Areas.MyHtml.TableCss() @*optional - basic tablesorter css styles*@
@MvcRQ.Areas.MyHtml.StyleCss() @*recommended - info message and some layout css styles*@

@*javascript*@
@MvcRQ.Areas.MyHtml.UiJavascript() @*required - user interface javascript code including tablesorter, pager and user interface code*@
