@{
    ViewBag.Title = "RiQuest | Desktop";
}
<div class="pure-g-r">
    <div class="pure-u-4-5">
        <div class="pure-g-r">
            <div class="pure-u-1-6">
                <div class="rq-sidebar rq-left-sidebar">
                    <div id="rq-settings-panel">
                        @Html.Partial("~/Views/Account/SmallLogOn.cshtml")
                    </div>
                    <div class="rq-settings-panel">
                        <h3>@RQResources.Views.Shared.SharedStrings.sa_h</h3>
                        @Html.Partial("~/areas/desktop/views/shared/actionsview.cshtml")
                    </div>
                </div>
            </div>
            <div class="pure-u-5-6">
                <script type="text/javascript">
                    //// show default result list on startup
                    $(document).ready(function () {
                        resizeToWindowHeight();
                        getDesktopList();
                    });
                </script>
                @Html.Partial("~/areas/desktop/views/shared/DesktopViewer.cshtml")
            </div>
        </div>
    </div>
    <div class="pure-u-1-5">
        <div class="pure-g-r">
            <div class="pure-u-4-5">
                <div class="rq-sidebar rq-right-sidebar">
                    @*@Html.Partial("~/Views/RQItems/Shared/SearchBoxView.cshtml")*@
                    <div class="rq-settings-panel">
                        <h3>@RQResources.Views.Shared.SharedStrings.include_external_h</h3>
                        @*@Html.Partial("~/Areas/UserSettings/Views/Shared/IncludeExternalView.cshtml")*@
                    </div>
                    <div class="rq-settings-panel">
                        @*<h3>@RQResources.Views.Shared.SharedStrings.query_fields_h</h3>
                        <form>
                        </form>*@
                    </div>
                    <div class="rq-settings-panel">
                        @*<h3>@RQResources.Views.Shared.SharedStrings.sq_h</h3>
                        @Html.Partial("~/Views/RQItems/Shared/StandardSearchesView.cshtml")*@
                    </div>
                </div>
            </div>
            <div class=" pure-u-1-5">
                <div class="rq-sidebar rq-right-sidebar rq-banner"></div>
            </div>
        </div>
        @Html.Partial("~/Views/Shared/Footer.cshtml")
    </div>
</div>
